//
// Utilities
//
// What you will find here:
// 01. General-use classes & Accessibility
// 02. Mixins
//	-- Style mixins
//	-- Responsive mixins
//	-- Gradients
// 03. Keyframes

// ---------------- 01. General-use classes & Accessibility

.assistive-text,
.visuallyhidden,
.screen-reader-text {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}


// ---------------- 02. Mixins

// Style mixins

@mixin button-primary(
	$color: $button-background-color,
	$text: $button-text-color,
	$color-hover: $button-background-color-hover,
	$text-hover: $button-text-color-hover,
	$transition-speed: $button-transition-speed,
	$padding: $default-button-padding ) {
	background: transparentize( $color, 0.1 );
	padding: $padding;
	text-align: center;
	text-decoration: none;
	color: $text !important;
	border-radius: $border-radius;
	display: inline-block;
	border: 1px solid darken( $color, 20 );
	text-shadow: 1px 1px 0 rgba( 0, 0, 0, 0.43 );
	box-shadow: 0 0 3px transparentize( $color, 0.5 );
	transition: all $transition-speed ease-in-out;

	&:hover,
	&:focus,
	&:visited:hover {
		background: $color-hover;
		color: $text-hover !important;
	}
}


@mixin inverse-colors(
	$text: $inverse-text-color,
	$link: $inverse-link-color,
	$link-hover: $inverse-link-color-hover ) {
	color: $text;
	a,
	a:visited {
		color: $link;

		&:hover,
		&:focus,
		&:active {
			color: $link-hover;
		}

		&.button {
			&:hover {
				color: $text !important;
			}
		}
	}

	svg {
		fill: $text !important;
	}

}

@mixin default-colors {
	@include inverse-colors( $default-text-color, $default-link-color, $default-link-color-hover );
	text-shadow: none;
}

// svg drop shadow
@mixin svg-shadow {
	filter: drop-shadow(0 1px 0 rgba( darken( $dark, 30 ), 0.75) ) url(#inset-shadow);
}

// Responsive mixins
// using breakpoint, but helping readability

@mixin phone-only {
	@include breakpoint( $phone ) { @content; }
}

@mixin tablet-only {
	@include breakpoint( $tablet ) { @content; }
}

@mixin tablet-portrait {
	@include breakpoint( $tablet-portrait ) { @content; }
}

@mixin tablet-landscape {
	@include breakpoint( $tablet-landscape ) { @content; }
}

@mixin desktop-only {
	@include breakpoint( $desktop ) { @content; }
}

@mixin large-desktop {
	@include breakpoint( $large-desktop ) { @content; }
}

@mixin tablet-down {
	@include breakpoint( $tablet-portrait-down ) { @content; }
}

@mixin tablet-up {
	@include breakpoint( $tablet-landscape-up ) { @content; }
}

@mixin phone-landscape {
	@include breakpoint( $phone-landscape ) { @content; }
}


// Gradients
// from https://webgradients.com

@mixin pink-blue {
	background-image: linear-gradient(-20deg, $pink 0%, $blue 100%);
}

@mixin purple-blue {
	background-image: linear-gradient(135deg, $purple 0%, $medium-blue 100%);
}

@mixin purple-blue-overlay {
	background-image: linear-gradient(135deg, rgba( $purple, 0.5 ) 0%, rgba( $medium-blue, 0.5 ) 100%);
}

@mixin red-yellow {
	background-image: linear-gradient(135deg, $red 0%, $yellow 100%);
}

@mixin purple-pink {
	background-image: linear-gradient(135deg, $purple 0%, $pink 100%);
}

@mixin green-yellow {
	background-image: linear-gradient(135deg, $green 0%, $lime 100%);
}

@mixin blue-teal {
	background-image: linear-gradient(135deg, $blue 0%, $blue 100%);
}

@mixin orange-yellow {
	background-image: linear-gradient(135deg, $orange 0%, $yellow-alt 100%);
}

@mixin green-blue {
	background-image: linear-gradient(180deg, $green 0%, $blue 100%);
}


@mixin light-grey-gradient {
	background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
@mixin dark-gradient {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

// ---------------- 03. Keyframes
@-webkit-keyframes moving-panel {
	20% {
		-webkit-transform: scale(1, 1) translate(120%, 0) skewX(-29deg);
		transform: scale(1, 1) translate(120%, 0) skewX(-29deg);
	}
	100% {
		-webkit-transform: scale(1, 1) translate(120%, 0) skewX(-29deg);
		transform: scale(1, 1) translate(120%, 0) skewX(-29deg);
	}
}

@keyframes moving-panel {
	20% {
		-webkit-transform: scale(1, 1) translate(120%, 0) skewX(-29deg);
		transform: scale(1, 1) translate(120%, 0) skewX(-29deg);
	}
	100% {
		-webkit-transform: scale(1, 1) translate(120%, 0) skewX(-29deg);
		transform: scale(1, 1) translate(120%, 0) skewX(-29deg);
	}
}


@keyframes
imageAnimation {  0% {
	animation-timing-function: ease-in;
	opacity: 0;
}
	7% {
		animation-timing-function: ease-out;
		opacity: 1;
	}
	44% {
		opacity: 1
	}
	50% {
		opacity: 0
	}
	100% {
		opacity: 0
	}
}