//
// Utilities
//
// What you will find here:
// 01. General-use classes & Accessibility
// 02. Mixins
//	-- Style mixins
//	-- Responsive mixins
//	-- Gradients
// 03. Keyframes

// ---------------- 01. General-use classes & Accessibility

.assistive-text,
.visuallyhidden,
.screen-reader-text {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}


// ---------------- 02. Mixins

// Style mixins

@mixin button-primary(
	$color: $button-background-color,
	$text: $button-text-color,
	$color-hover: $button-background-color-hover,
	$text-hover: $button-text-color-hover,
	$transition-speed: $button-transition-speed,
	$padding: $default-button-padding ) {
	background: transparentize( $color, 0.1 );
	padding: $padding;
	text-align: center;
	text-decoration: none;
	color: $text !important;
	border-radius: $border-radius;
	display: inline-block;
	border-top: 1px solid lighten( $color, 10 );
	border-left: 1px solid lighten( $color, 10 );
	border-bottom: 1px solid darken( $color, 10 );
	border-right: 1px solid darken( $color, 10 );
	text-shadow: 1px 1px 0 rgba( complement( $color ), 0.23 );
	box-shadow: 0 1px 3px rgba( $dark, 0.5 );
	transition: all $transition-speed ease-in-out;

	&:hover,
	&:focus,
	&:visited:hover {
		background: $color-hover;
		color: $text-hover !important;
	}
}

@mixin text-colors(
	$text: $default-text-color,
	$link: $default-link-color,
	$link-hover: $default-link-color-hover ) {
	color: $text;
	text-shadow: 1px 1px 0 rgba( invert( $text ), 0.43 );
	a,
	a:visited {
		color: $link;
		font-weight: 300;
		text-decoration-line: underline;
		text-decoration-color: rgba( $link, 0.6 );

		&:hover,
		&:focus,
		&:active {
			color: $link-hover;
			text-decoration-color: rgba( $link, 0 );
		}
	}

	svg {
		fill: $text !important;
	}

}

@mixin inverse-colors {
	@include text-colors( $inverse-text-color, $inverse-link-color, $inverse-link-color-hover );
}

@mixin default-colors {
	@include text-colors;
}

// svg drop shadow
@mixin svg-shadow {
	filter: drop-shadow(0 1px 0 rgba( darken( $dark, 30 ), 0.75) ) url(#inset-shadow);
}

//gradient mixin
@mixin linear-gradient($direction, $color-stops...) {
	@if is-direction($direction) == false {
		$color-stops: $direction, $color-stops;
		$direction: 180deg;
	}
	background: nth(nth($color-stops, 1), 1);
	background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
	background: linear-gradient($direction, $color-stops);
}

// Responsive mixins
// using breakpoint, but helping readability

@mixin phone-only {
	@include breakpoint( $phone ) { @content; }
}

@mixin tablet-only {
	@include breakpoint( $tablet ) { @content; }
}

@mixin tablet-portrait {
	@include breakpoint( $tablet-portrait ) { @content; }
}

@mixin tablet-landscape {
	@include breakpoint( $tablet-landscape ) { @content; }
}

@mixin desktop-only {
	@include breakpoint( $desktop ) { @content; }
}

@mixin large-desktop {
	@include breakpoint( $large-desktop ) { @content; }
}

@mixin tablet-down {
	@include breakpoint( $tablet-portrait-down ) { @content; }
}

@mixin tablet-up {
	@include breakpoint( $tablet-landscape-up ) { @content; }
}

@mixin phone-landscape {
	@include breakpoint( $phone-landscape ) { @content; }
}


// Gradients
// from https://webgradients.com

@mixin pink-blue {
	@include linear-gradient(135deg, $pink 0%, $blue 100%);
}

@mixin purple-blue {
	@include linear-gradient(135deg, $purple 0%, $medium-blue 100%);
}

@mixin purple-blue-overlay {
	@include linear-gradient(135deg, rgba( $purple, 0.5 ) 0%, rgba( $medium-blue, 0.5 ) 50%, rgba( $pink, 0.5 ) 100%);
}

@mixin red-yellow {
	@include linear-gradient(135deg, $red 0%, $yellow 100%);
}

@mixin purple-pink {
	@include linear-gradient(135deg, $purple 0%, $pink 100%);
}

@mixin green-yellow {
	@include linear-gradient(135deg, $green 0%, $lime 100%);
}

@mixin blue-teal {
	@include linear-gradient(135deg, $blue 0%, $teal 100%);
}

@mixin orange-yellow {
	@include linear-gradient(135deg, $orange 0%, $yellow-alt 100%);
}

@mixin green-blue {
	@include linear-gradient(180deg, $green 0%, $blue 100%);
}

@mixin gradient-animate(
	$color1: $teal,
	$color2: $light-blue,
	$color3: $medium-blue,
	$color4: $purple ) {
	@include linear-gradient(135deg, $color1 0%, $color2 45%, $color3 50%, $color4 100% );
}


@mixin light-grey-gradient {
	background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
@mixin dark-gradient {
	background-image: linear-gradient(60deg, $dark 0%, #485563 100%);
}

// ---------------- 03. Keyframes
// logo animation
@-webkit-keyframes moving-panel {
	20% {
		-webkit-transform: scale(1, 1) translate(120%, 0) skewX(-29deg);
		transform: scale(1, 1) translate(120%, 0) skewX(-29deg);
	}
	100% {
		-webkit-transform: scale(1, 1) translate(120%, 0) skewX(-29deg);
		transform: scale(1, 1) translate(120%, 0) skewX(-29deg);
	}
}

@keyframes moving-panel {
	20% {
		-webkit-transform: scale(1, 1) translate(120%, 0) skewX(-29deg);
		transform: scale(1, 1) translate(120%, 0) skewX(-29deg);
	}
	100% {
		-webkit-transform: scale(1, 1) translate(120%, 0) skewX(-29deg);
		transform: scale(1, 1) translate(120%, 0) skewX(-29deg);
	}
}

// hero "slideshow" keyframes

@keyframes
imageAnimation {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
	}
	7% {
		animation-timing-function: ease-out;
		opacity: 1;
	}
	44% {
		opacity: 1;
	}
	50% {
		opacity: 0;
		animation-timing-function: ease-in;
	}
	100% {
		opacity: 0;
	}
}

// gradient animation keyframes

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}