/******************************************************************
	
Stylesheet: Main Stylesheet

Here's where the magic happens. Here is where you import
all of your Sass files so they can compile into one
CSS file. 

******************************************************************/
/*
* Scut, a collection of Sass utilities
* to ease and improve our implementations of common style-code patterns.
* v1.4.0
* Docs at http://davidtheclark.github.io/scut
*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,700");
.assistive-text,
.visuallyhidden,
.screen-reader-text {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

@keyframes moving-panel {
  20% {
    transform: scale(1, 1) translate(120%, 0) skewX(-29deg); }
  100% {
    transform: scale(1, 1) translate(120%, 0) skewX(-29deg); } }

@keyframes imageAnimation {
  0% {
    animation-timing-function: ease-in;
    opacity: 0; }
  7% {
    animation-timing-function: ease-out;
    opacity: 1; }
  44% {
    opacity: 1; }
  50% {
    opacity: 0;
    animation-timing-function: ease-in; }
  100% {
    opacity: 0; } }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 18px;
  margin: 0;
  background-color: #2a263a;
  color: #F2F2F2;
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 100;
  max-width: 100vw;
  overflow-x: hidden;
  -webkit-tap-highlight-color: #ff0; }
  @media (max-width: 600px) {
    body {
      font-size: calc( 18px / 1.3);
      line-height: 1.2; } }

.highlight,
::selection {
  background: #ff0; }

a {
  color: #00c8ff;
  transition: all 300ms ease-in-out;
  font-weight: 300;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  -webkit-text-decoration-color: rgba(0, 200, 255, 0.6);
  text-decoration-color: rgba(0, 200, 255, 0.6); }
  a:hover, a:focus, a:active {
    color: #FFFA04;
    -webkit-text-decoration-color: rgba(0, 200, 255, 0.1);
    text-decoration-color: rgba(0, 200, 255, 0.1); }

blockquote {
  position: relative;
  padding: 1rem; }
  blockquote:before {
    content: "\201C";
    font-family: Georgia, serif;
    font-size: 90px;
    font-weight: bold;
    opacity: 0.2;
    position: absolute;
    left: -1.5rem;
    top: -1.5rem; }

.hide-this {
  visibility: hidden;
  height: 0;
  width: 0;
  position: absolute; }
  .hide-this svg {
    display: none; }

.inverse {
  color: #2a263a;
  text-shadow: 1px 1px 0 rgba(213, 217, 197, 0.43); }
  .inverse a,
  .inverse a:visited {
    color: #6727cb;
    font-weight: 300;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    -webkit-text-decoration-color: rgba(103, 39, 203, 0.6);
    text-decoration-color: rgba(103, 39, 203, 0.6); }
    .inverse a:hover, .inverse a:focus, .inverse a:active,
    .inverse a:visited:hover,
    .inverse a:visited:focus,
    .inverse a:visited:active {
      color: #4a4951;
      -webkit-text-decoration-color: rgba(103, 39, 203, 0);
      text-decoration-color: rgba(103, 39, 203, 0); }
  .inverse svg {
    fill: #2a263a !important; }

.button,
input[type="submit"],
button {
  background: transparent;
  padding: 0.95rem 2.82rem;
  text-align: center;
  text-decoration: none;
  color: #00c8ff !important;
  border-radius: 3px;
  display: inline-block;
  border-top: 1px solid rgba(26, 26, 26, 0);
  border-left: 1px solid rgba(26, 26, 26, 0);
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.23);
  box-shadow: 0 1px 3px rgba(42, 38, 58, 0.5);
  transition: all 200ms ease-in-out;
  box-shadow: none; }
  .button:hover, .button:focus, .button:visited:hover,
  input[type="submit"]:hover,
  input[type="submit"]:focus,
  input[type="submit"]:visited:hover,
  button:hover,
  button:focus,
  button:visited:hover {
    background: transparent;
    color: #FFFA04 !important; }
  .button.full,
  input[type="submit"].full,
  button.full {
    display: block;
    text-align: center; }
  .button.primary,
  input[type="submit"].primary,
  button.primary {
    background: rgba(0, 200, 255, 0.9);
    padding: 0.95rem 2.82rem;
    text-align: center;
    text-decoration: none;
    color: #fff !important;
    border-radius: 3px;
    display: inline-block;
    border-top: 1px solid #33d3ff;
    border-left: 1px solid #33d3ff;
    border-bottom: 1px solid #00a0cc;
    border-right: 1px solid #00a0cc;
    text-shadow: 1px 1px 0 rgba(255, 55, 0, 0.23);
    box-shadow: 0 1px 3px rgba(42, 38, 58, 0.5);
    transition: all 200ms ease-in-out;
    background: #20FFA3;
    background: linear-gradient(135deg, #20FFA3 0%, #00c8ff 45%, #38BBF9 50%, #6727cb 100%);
    background-size: 200% 200%;
    background-position: 0% 50%;
    transition-duration: 350ms; }
    .button.primary:hover, .button.primary:focus, .button.primary:visited:hover,
    input[type="submit"].primary:hover,
    input[type="submit"].primary:focus,
    input[type="submit"].primary:visited:hover,
    button.primary:hover,
    button.primary:focus,
    button.primary:visited:hover {
      background: #F9CE34;
      color: #fff !important; }
    .button.primary:hover,
    input[type="submit"].primary:hover,
    button.primary:hover {
      background: #20FFA3;
      background: linear-gradient(135deg, #20FFA3 0%, #00c8ff 45%, #38BBF9 50%, #6727cb 100%);
      background-size: 200% 200%;
      background-position: 100% 50%; }
  .button.secondary,
  input[type="submit"].secondary,
  button.secondary {
    background: transparent;
    padding: 0.95rem 2.82rem;
    text-align: center;
    text-decoration: none;
    color: #FFFA04 !important;
    border-radius: 3px;
    display: inline-block;
    border-top: 1px solid rgba(26, 26, 26, 0);
    border-left: 1px solid rgba(26, 26, 26, 0);
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.23);
    box-shadow: 0 1px 3px rgba(42, 38, 58, 0.5);
    transition: all 200ms ease-in-out;
    box-shadow: none; }
    .button.secondary:hover, .button.secondary:focus, .button.secondary:visited:hover,
    input[type="submit"].secondary:hover,
    input[type="submit"].secondary:focus,
    input[type="submit"].secondary:visited:hover,
    button.secondary:hover,
    button.secondary:focus,
    button.secondary:visited:hover {
      background: rgba(103, 39, 203, 0.52);
      color: #FFFA04 !important; }
  .button.important,
  input[type="submit"].important,
  button.important {
    background: rgba(0, 200, 255, 0.9);
    padding: 0.95rem 2.82rem;
    text-align: center;
    text-decoration: none;
    color: #fff !important;
    border-radius: 3px;
    display: inline-block;
    border-top: 1px solid #33d3ff;
    border-left: 1px solid #33d3ff;
    border-bottom: 1px solid #00a0cc;
    border-right: 1px solid #00a0cc;
    text-shadow: 1px 1px 0 rgba(255, 55, 0, 0.23);
    box-shadow: 0 1px 3px rgba(42, 38, 58, 0.5);
    transition: all 200ms ease-in-out;
    background: #E73D11;
    background: linear-gradient(135deg, #E73D11 0%, #F3B61C 45%, #F9CE34 50%, #FFFA04 100%);
    background-size: 200% 200%;
    background-position: 0% 50%;
    transition-duration: 350ms; }
    .button.important:hover, .button.important:focus, .button.important:visited:hover,
    input[type="submit"].important:hover,
    input[type="submit"].important:focus,
    input[type="submit"].important:visited:hover,
    button.important:hover,
    button.important:focus,
    button.important:visited:hover {
      background: #F9CE34;
      color: #fff !important; }
    .button.important:hover,
    input[type="submit"].important:hover,
    button.important:hover {
      background: #E73D11;
      background: linear-gradient(135deg, #E73D11 0%, #F3B61C 45%, #F9CE34 50%, #FFFA04 100%);
      background-size: 200% 200%;
      background-position: 100% 50%; }

.learn-more-button {
  padding-bottom: 2rem; }

.padding {
  padding: 4rem; }

.centered-text {
  text-align: center; }

a.no-style {
  color: #F2F2F2;
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 0.3em; }

h1 {
  font-size: 45px; }
  @media (max-width: 600px) {
    h1 {
      font-size: calc( 45px / 1.3); } }

h2 {
  font-size: 39.6px; }
  @media (max-width: 600px) {
    h2 {
      font-size: calc( 39.6px / 1.3); } }

h3 {
  font-size: 36px; }
  @media (max-width: 600px) {
    h3 {
      font-size: calc( 36px / 1.3); } }

h4 {
  font-size: 27px; }
  @media (max-width: 600px) {
    h4 {
      font-size: calc( 27px / 1.3); } }

h5 {
  font-size: 23.4px; }
  @media (max-width: 600px) {
    h5 {
      font-size: calc( 23.4px / 1.3); } }

h6 {
  font-size: 19.8px;
  margin: 1em 0 0 0; }
  @media (max-width: 600px) {
    h6 {
      font-size: calc( 19.8px / 1.3); } }

.plain-bg {
  background: #2a263a;
  color: #F2F2F2;
  text-shadow: 1px 1px 0 rgba(13, 13, 13, 0.43); }
  .plain-bg a,
  .plain-bg a:visited {
    color: #00c8ff;
    font-weight: 300;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    -webkit-text-decoration-color: rgba(0, 200, 255, 0.6);
    text-decoration-color: rgba(0, 200, 255, 0.6); }
    .plain-bg a:hover, .plain-bg a:focus, .plain-bg a:active,
    .plain-bg a:visited:hover,
    .plain-bg a:visited:focus,
    .plain-bg a:visited:active {
      color: #FFFA04;
      -webkit-text-decoration-color: rgba(0, 200, 255, 0);
      text-decoration-color: rgba(0, 200, 255, 0); }
  .plain-bg svg {
    fill: #F2F2F2 !important; }

.white {
  background: #fff;
  color: #2a263a; }

.purple-blue {
  background: #6727cb;
  background: linear-gradient(135deg, #6727cb 0%, #38BBF9 100%);
  color: #F2F2F2;
  text-shadow: 1px 1px 0 rgba(13, 13, 13, 0.43); }
  .purple-blue a,
  .purple-blue a:visited {
    color: #00c8ff;
    font-weight: 300;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    -webkit-text-decoration-color: rgba(0, 200, 255, 0.6);
    text-decoration-color: rgba(0, 200, 255, 0.6); }
    .purple-blue a:hover, .purple-blue a:focus, .purple-blue a:active,
    .purple-blue a:visited:hover,
    .purple-blue a:visited:focus,
    .purple-blue a:visited:active {
      color: #FFFA04;
      -webkit-text-decoration-color: rgba(0, 200, 255, 0);
      text-decoration-color: rgba(0, 200, 255, 0); }
  .purple-blue svg {
    fill: #F2F2F2 !important; }

.purple-pink {
  background: #6727cb;
  background: linear-gradient(135deg, #6727cb 0%, #CB1F8F 100%);
  color: #F2F2F2;
  text-shadow: 1px 1px 0 rgba(13, 13, 13, 0.43); }
  .purple-pink a,
  .purple-pink a:visited {
    color: #00c8ff;
    font-weight: 300;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    -webkit-text-decoration-color: rgba(0, 200, 255, 0.6);
    text-decoration-color: rgba(0, 200, 255, 0.6); }
    .purple-pink a:hover, .purple-pink a:focus, .purple-pink a:active,
    .purple-pink a:visited:hover,
    .purple-pink a:visited:focus,
    .purple-pink a:visited:active {
      color: #FFFA04;
      -webkit-text-decoration-color: rgba(0, 200, 255, 0);
      text-decoration-color: rgba(0, 200, 255, 0); }
  .purple-pink svg {
    fill: #F2F2F2 !important; }

.red-yellow {
  background: #E73D11;
  background: linear-gradient(135deg, #E73D11 0%, #F9CE34 100%);
  color: #F2F2F2;
  text-shadow: 1px 1px 0 rgba(13, 13, 13, 0.43); }
  .red-yellow a,
  .red-yellow a:visited {
    color: #00c8ff;
    font-weight: 300;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    -webkit-text-decoration-color: rgba(0, 200, 255, 0.6);
    text-decoration-color: rgba(0, 200, 255, 0.6); }
    .red-yellow a:hover, .red-yellow a:focus, .red-yellow a:active,
    .red-yellow a:visited:hover,
    .red-yellow a:visited:focus,
    .red-yellow a:visited:active {
      color: #FFFA04;
      -webkit-text-decoration-color: rgba(0, 200, 255, 0);
      text-decoration-color: rgba(0, 200, 255, 0); }
  .red-yellow svg {
    fill: #F2F2F2 !important; }

.green-yellow {
  background: #13AD1D;
  background: linear-gradient(135deg, #13AD1D 0%, #CBF523 100%);
  color: #2a263a;
  text-shadow: 1px 1px 0 rgba(213, 217, 197, 0.43); }
  .green-yellow a,
  .green-yellow a:visited {
    color: #6727cb;
    font-weight: 300;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    -webkit-text-decoration-color: rgba(103, 39, 203, 0.6);
    text-decoration-color: rgba(103, 39, 203, 0.6); }
    .green-yellow a:hover, .green-yellow a:focus, .green-yellow a:active,
    .green-yellow a:visited:hover,
    .green-yellow a:visited:focus,
    .green-yellow a:visited:active {
      color: #4a4951;
      -webkit-text-decoration-color: rgba(103, 39, 203, 0);
      text-decoration-color: rgba(103, 39, 203, 0); }
  .green-yellow svg {
    fill: #2a263a !important; }

.blue-teal {
  background: #0091B4;
  background: linear-gradient(135deg, #0091B4 0%, #20FFA3 100%);
  color: #2a263a;
  text-shadow: 1px 1px 0 rgba(213, 217, 197, 0.43); }
  .blue-teal a,
  .blue-teal a:visited {
    color: #6727cb;
    font-weight: 300;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    -webkit-text-decoration-color: rgba(103, 39, 203, 0.6);
    text-decoration-color: rgba(103, 39, 203, 0.6); }
    .blue-teal a:hover, .blue-teal a:focus, .blue-teal a:active,
    .blue-teal a:visited:hover,
    .blue-teal a:visited:focus,
    .blue-teal a:visited:active {
      color: #4a4951;
      -webkit-text-decoration-color: rgba(103, 39, 203, 0);
      text-decoration-color: rgba(103, 39, 203, 0); }
  .blue-teal svg {
    fill: #2a263a !important; }

.orange-yellow {
  background: #F3B61C;
  background: linear-gradient(135deg, #F3B61C 0%, #FFFA04 100%);
  color: #2a263a;
  text-shadow: 1px 1px 0 rgba(213, 217, 197, 0.43); }
  .orange-yellow a,
  .orange-yellow a:visited {
    color: #6727cb;
    font-weight: 300;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    -webkit-text-decoration-color: rgba(103, 39, 203, 0.6);
    text-decoration-color: rgba(103, 39, 203, 0.6); }
    .orange-yellow a:hover, .orange-yellow a:focus, .orange-yellow a:active,
    .orange-yellow a:visited:hover,
    .orange-yellow a:visited:focus,
    .orange-yellow a:visited:active {
      color: #4a4951;
      -webkit-text-decoration-color: rgba(103, 39, 203, 0);
      text-decoration-color: rgba(103, 39, 203, 0); }
  .orange-yellow svg {
    fill: #2a263a !important; }

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1150px; }

@media (min-width: 900px) {
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .main-column {
    width: 63.8%;
    padding-right: 30px; }
  .secondary-column {
    width: 36.2%;
    padding-left: 30px; } }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.alignleft {
  float: left;
  margin: 0.8rem 1.6rem 0.8rem 0; }

.alignright {
  float: right;
  margin: 0.8rem 0 0.8rem 1.6rem; }

.wp-caption {
  text-align: center; }

div.wp-caption {
  background: #2a263a;
  border: 1px solid rgba(203, 31, 143, 0.5);
  border-radius: 0 0 0 20px;
  max-width: calc( 100% - 2px); }
  div.wp-caption.alignright {
    max-width: 50%; }
  div.wp-caption.alignleft {
    max-width: 50%; }

img.alignright {
  float: right;
  margin: 2rem 0 2rem 2rem;
  max-width: 50%; }

img.alignleft {
  float: left;
  margin: 2rem 2rem 2rem 0;
  max-width: 50%; }

img.aligncenter {
  width: 95%;
  clear: both;
  height: auto;
  margin: 2rem auto;
  max-width: none; }

.gallery {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
  padding: 2rem;
  margin: 2rem auto; }
  .gallery li {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex: 33.333%;
    flex: 33.333%;
    margin: 0; }
  .gallery a {
    display: block; }

/**
 * base form styles
 */
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="month"],
input[type="week"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
select,
textarea {
  padding: 0.5rem 1rem;
  outline: none;
  border: 1px solid rgba(242, 242, 242, 0.2);
  border-radius: 3px;
  background: #2a263a;
  font-size: 18px;
  font-family: "Noto Sans JP", sans-serif;
  margin-left: 1rem;
  box-shadow: none;
  -webkit-appearance: none; }
  input[type="email"]:hover,
  input[type="number"]:hover,
  input[type="password"]:hover,
  input[type="search"]:hover,
  input[type="tel"]:hover,
  input[type="text"]:hover,
  input[type="url"]:hover,
  input[type="month"]:hover,
  input[type="week"]:hover,
  input[type="date"]:hover,
  input[type="datetime"]:hover,
  input[type="datetime-local"]:hover,
  select:hover,
  textarea:hover {
    border: 1px solid #6727cb; }
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="text"]:focus,
  input[type="url"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  select:focus,
  textarea:focus {
    outline: none;
    border: 1px dotted #CB1F8F;
    background: #2a263a; }

input[type="submit"] {
  font-size: 18px;
  font-family: "Noto Sans JP", sans-serif; }

.frm_form_field.frm_left_container input:not([type=radio]):not([type=checkbox]), .frm_form_field.frm_left_container:not(.frm_dynamic_select_container) select, .frm_form_field.frm_left_container textarea, .frm_form_field.frm_left_container .wp-editor-wrap, .frm_form_field.frm_left_container .frm_opt_container, .frm_form_field.frm_left_container .frm_dropzone, .frm_form_field.frm_left_container .frm-g-recaptcha, .frm_form_field.frm_left_container .g-recaptcha, .frm_form_field.frm_left_container .chosen-container, .frm_form_field.frm_left_container .frm_combo_inputs_container, .frm_form_field.frm_right_container input:not([type=radio]):not([type=checkbox]), .frm_form_field.frm_right_container:not(.frm_dynamic_select_container) select, .frm_form_field.frm_right_container textarea, .frm_form_field.frm_right_container .wp-editor-wrap, .frm_form_field.frm_right_container .frm_opt_container, .frm_form_field.frm_right_container .frm_dropzone, .frm_form_field.frm_right_container .frm-g-recaptcha, .frm_form_field.frm_right_container .g-recaptcha, .frm_form_field.frm_right_container .chosen-container, .frm_form_field.frm_right_container .frm_combo_inputs_container {
  max-width: 100%; }

.frm_form_field.frm_left_container label.frm_primary_label {
  max-width: 90%; }

.widget_search form.search-form {
  display: -ms-flexbox;
  display: flex; }
  .widget_search form.search-form label {
    -ms-flex: 1;
    flex: 1; }

.widget_search input[type="search"] {
  margin: 0 -2px 0 0;
  width: 100%; }

.widget_search input[type="submit"] {
  font-size: 80%;
  padding: 8px 10px;
  margin: 0 0 0 -5px; }

.site-header {
  background: #2a263a;
  min-height: 15vh;
  transition: all 1500ms ease-in-out;
  transform: rotate(-2.1deg) skew(-2.1deg);
  padding-top: 8vh;
  margin-top: -7vh;
  margin-bottom: -3vh;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.28); }
  .site-header .header-content {
    transform: rotate(2.1deg);
    transition: all 1500ms ease-in-out;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .site-header .site-logo {
    margin: 0;
    transform: skew(2.1deg);
    transition: all 1500ms ease-in-out; }
    .site-header .site-logo svg#inntro {
      height: 4rem;
      width: auto;
      margin: 2vh 0 2vh 3rem; }
  .site-header .inntro {
    transition: all 200ms ease-in-out;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .site-header .inntro svg {
      transition: all 1500ms ease-in-out; }
  .site-header .anim-shape {
    transform-origin: 0x 150px;
    transform: scale(0.5, 1) translate(-120%, 0) skewX(25deg);
    animation: moving-panel 15s infinite;
    animation-delay: 3s;
    -webkit-animation-delay: 3s; }
  .site-header .colortext .anim-shape:nth-child(1) {
    fill: #CB1F8F; }
  .site-header .colortext .anim-shape:nth-child(2) {
    fill: #F3B61C; }
  .site-header .colortext .anim-shape:nth-child(3) {
    fill: #13AD1D; }
  .site-header .colortext .anim-shape:nth-child(4) {
    fill: #F9CE34; }
  .site-header .colortext .anim-shape:nth-child(5) {
    fill: #00c8ff; }
  .site-header #inntro_logo_shadow .st0 {
    transition: all 200ms ease-in-out;
    fill: rgba(255, 255, 255, 0.8); }
  .site-header.smaller {
    transform: rotate(0deg) skew(0deg);
    margin-top: -12vh;
    background: rgba(42, 38, 58, 0.8); }
    .site-header.smaller .header-content {
      transform: rotate(0deg); }
    .site-header.smaller .site-logo {
      transform: rotate(0deg) skew(0deg);
      margin-top: 2.5vh;
      margin-bottom: -1.5vh; }
    .site-header.smaller .inntro svg {
      transform: scale(0.9); }
    .site-header.smaller #inntro_logo_shadow .st0 {
      fill: rgba(122, 124, 189, 0.2); }
    .site-header.smaller .main-navigation ul {
      margin-top: 3.95vh;
      margin-bottom: -1vh; }
  .site-header .main-navigation {
    -ms-flex: 1;
    flex: 1;
    /*@include tablet-down {

			.mobile-menu-toggle {
			//	display: block;  // hiding for now
			}

			ul {
				flex-direction: column;
				height: 0;
				margin: 0;
				padding: 0;
				position: relative;
				z-index: 9999;
				display: flex;
				overflow: hidden;


				li {
					width: 100%;

					a {
						line-height: 3;
					}

				}

				&.open {
					width: 100%;
					max-width: 100vw;
					display: flex;
					height: calc( 100vh - 6rem );

					li {
						flex: 1;
					}
				}
			}

		}*/ }
    .site-header .main-navigation .mobile-menu-toggle {
      display: none; }
    .site-header .main-navigation ul {
      margin: 0;
      padding: 0.6em 1em;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: end;
      justify-content: flex-end;
      transition: all 1500ms ease-in-out; }
      .site-header .main-navigation ul li {
        list-style-type: none;
        padding: 0.25rem 1.5rem;
        font-size: 90%; }
        .site-header .main-navigation ul li a {
          color: rgba(255, 255, 255, 0.5);
          text-decoration: none;
          display: block;
          transition: all 200ms ease-in-out; }
          .site-header .main-navigation ul li a:hover {
            color: #CBF523; }

@media (min-width: 900px) {
  .home .site-header .main-navigation ul {
    background-color: rgba(42, 38, 58, 0); } }

footer.site-footer {
  background-image: linear-gradient(60deg, #2a263a 0%, #485563 100%);
  margin: -3rem 0;
  padding: 3rem 0;
  color: #F2F2F2;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%); }
  footer.site-footer a {
    color: #38BBF9; }
    footer.site-footer a:hover {
      color: #F2F2F2; }
  footer.site-footer .footer-widget-area {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (max-width: 900px) {
      footer.site-footer .footer-widget-area {
        display: block; } }
    footer.site-footer .footer-widget-area > div {
      -ms-flex: 1;
      flex: 1;
      margin: 2em 0;
      padding: 2em 1em 2em 1.2em;
      border-right: 1px solid rgba(242, 242, 242, 0.3); }
      @media (max-width: 900px) {
        footer.site-footer .footer-widget-area > div {
          max-width: 100%;
          display: block;
          clear: both;
          border-right: none;
          border-bottom: 1px solid rgba(242, 242, 242, 0.3);
          text-align: center; } }
      footer.site-footer .footer-widget-area > div:last-child {
        border-right: none; }
        @media (max-width: 900px) {
          footer.site-footer .footer-widget-area > div:last-child {
            border-bottom: none; } }
    footer.site-footer .footer-widget-area .widget_nav_menu ul {
      margin: 0;
      padding: 0;
      list-style: none; }
    footer.site-footer .footer-widget-area h4.widgettitle {
      text-align: center; }
    footer.site-footer .footer-widget-area div.column div.widget:first-child h4.widgettitle {
      margin-top: 0; }
  footer.site-footer .social-links {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    clear: both; }
    footer.site-footer .social-links li {
      display: inline; }
      footer.site-footer .social-links li span {
        padding: 1rem; }
      footer.site-footer .social-links li a {
        text-decoration: none; }
  footer.site-footer .container p {
    padding: 0; }

.page-section {
  padding: 0;
  overflow: hidden; }

.section-title {
  margin-top: 0;
  text-align: center;
  padding: 4rem 10px 0 10px;
  line-height: 1.2; }
  .type-none .section-title {
    margin: 0;
    padding: 4rem 10px; }
  @media (max-width: 600px) {
    .section-title {
      font-size: 1.5em; } }

.section-intro-text {
  text-align: center; }

.type-hero {
  margin-top: -5vh;
  margin-bottom: -5vh;
  -webkit-clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 8%, 100% 95%, 0 100%); }
  .type-hero:not(.none) .hero .hero-image-container {
    filter: opacity(0.35);
    background-blend-mode: overlay;
    background-color: rgba(42, 38, 58, 0.3); }
  .type-hero .hero {
    position: relative; }
    .type-hero .hero .hero-image-container {
      min-height: 95vh;
      background-size: cover;
      background-position: 50% 20%;
      position: relative; }
    .type-hero .hero .hero-text-container {
      position: absolute;
      z-index: 99;
      top: 26vh;
      font-size: 1.5em;
      padding: 3rem;
      margin: 0 2vw 0 50vw;
      overflow: hidden; }
      .type-hero .hero .hero-text-container p:first-child {
        margin-top: 0; }
      @media (max-width: 900px) {
        .type-hero .hero .hero-text-container {
          background: rgba(42, 38, 58, 0.8); } }
    @media (max-width: 600px) {
      .type-hero .hero {
        min-height: 60vh;
        background-size: 200% auto;
        background-repeat: no-repeat; }
        .type-hero .hero .hero-text-container {
          margin: 30vh 0 0 0;
          position: relative;
          float: right;
          padding: 0.5em; } }

.featured-blog-post-container,
.text-image-grid-container {
  display: -ms-flexbox;
  display: flex;
  min-height: 500px; }
  @media (max-width: 600px) {
    .featured-blog-post-container,
    .text-image-grid-container {
      display: block; } }
  .featured-blog-post-container.image-text,
  .text-image-grid-container.image-text {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .featured-blog-post-container.thirds > div,
  .text-image-grid-container.thirds > div {
    -ms-flex: auto;
    flex: auto; }
    .featured-blog-post-container.thirds > div.text-side,
    .text-image-grid-container.thirds > div.text-side {
      width: 63.8%; }
      .featured-blog-post-container.thirds > div.text-side .padding,
      .text-image-grid-container.thirds > div.text-side .padding {
        max-width: 70ch; }
    .featured-blog-post-container.thirds > div.image-side,
    .text-image-grid-container.thirds > div.image-side {
      width: calc( 100vw - 63.8%); }
  .featured-blog-post-container > div,
  .text-image-grid-container > div {
    -ms-flex: 1;
    flex: 1; }
    .featured-blog-post-container > div.text-side,
    .text-image-grid-container > div.text-side {
      background: #2a263a;
      color: #F2F2F2;
      text-shadow: 1px 1px 0 rgba(13, 13, 13, 0.43);
      text-shadow: none; }
      .featured-blog-post-container > div.text-side a,
      .featured-blog-post-container > div.text-side a:visited,
      .text-image-grid-container > div.text-side a,
      .text-image-grid-container > div.text-side a:visited {
        color: #00c8ff;
        font-weight: 300;
        -webkit-text-decoration-line: underline;
        text-decoration-line: underline;
        -webkit-text-decoration-color: rgba(0, 200, 255, 0.6);
        text-decoration-color: rgba(0, 200, 255, 0.6); }
        .featured-blog-post-container > div.text-side a:hover, .featured-blog-post-container > div.text-side a:focus, .featured-blog-post-container > div.text-side a:active,
        .featured-blog-post-container > div.text-side a:visited:hover,
        .featured-blog-post-container > div.text-side a:visited:focus,
        .featured-blog-post-container > div.text-side a:visited:active,
        .text-image-grid-container > div.text-side a:hover,
        .text-image-grid-container > div.text-side a:focus,
        .text-image-grid-container > div.text-side a:active,
        .text-image-grid-container > div.text-side a:visited:hover,
        .text-image-grid-container > div.text-side a:visited:focus,
        .text-image-grid-container > div.text-side a:visited:active {
          color: #FFFA04;
          -webkit-text-decoration-color: rgba(0, 200, 255, 0);
          text-decoration-color: rgba(0, 200, 255, 0); }
      .featured-blog-post-container > div.text-side svg,
      .text-image-grid-container > div.text-side svg {
        fill: #F2F2F2 !important; }
      .featured-blog-post-container > div.text-side h2,
      .text-image-grid-container > div.text-side h2 {
        line-height: 1.2; }
        .featured-blog-post-container > div.text-side h2 a,
        .text-image-grid-container > div.text-side h2 a {
          color: #F2F2F2 !important;
          text-decoration: none; }
      .featured-blog-post-container > div.text-side .padding,
      .text-image-grid-container > div.text-side .padding {
        max-width: 40ch;
        padding: 6rem;
        margin: 6rem auto; }
    .featured-blog-post-container > div.image-side,
    .text-image-grid-container > div.image-side {
      background-size: cover;
      background-position: 50% 50%; }
      @media (max-width: 600px) {
        .featured-blog-post-container > div.image-side,
        .text-image-grid-container > div.image-side {
          min-height: 45vh; } }

/**
 * WYSIWYG
 */
.type-wysiwyg .container {
  padding: 4rem 0; }
  .type-wysiwyg .container .padding {
    padding-left: 0;
    padding-right: 0; }

/**
 * Columns section
 */
.type-three_col {
  padding: 4rem 0; }
  .type-three_col .columns-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 90%;
    margin: 0 auto;
    padding: 0 0 3rem 0; }
    @media (max-width: 600px) {
      .type-three_col .columns-wrapper {
        display: block; } }
    .type-three_col .columns-wrapper .column {
      -ms-flex: 1;
      flex: 1;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-align: stretch;
      align-items: stretch;
      -ms-flex-pack: end;
      justify-content: flex-end;
      border-radius: 4px; }
      @media (max-width: 600px) {
        .type-three_col .columns-wrapper .column {
          width: 100%;
          display: block; } }
      .type-three_col .columns-wrapper .column > div {
        padding: 0 3rem;
        -ms-flex: 1;
        flex: 1; }
        @media (max-width: 600px) {
          .type-three_col .columns-wrapper .column > div {
            display: block; } }
        .type-three_col .columns-wrapper .column > div:last-child {
          -ms-flex-item-align: center;
          align-self: center;
          text-align: center; }
      .type-three_col .columns-wrapper .column .column-title {
        margin: 0;
        padding: 2rem 0 0 0;
        line-height: 1.2;
        text-align: center; }
      .type-three_col .columns-wrapper .column .column-body {
        -ms-flex: 1;
        flex: 1;
        -ms-flex-positive: 3;
        flex-grow: 3; }
      .type-three_col .columns-wrapper .column .column-footer:empty {
        min-height: 2.5rem; }
    .type-three_col .columns-wrapper div.column ~ div.column {
      margin-left: 30px; }
      @media (min-width: 600px) and (max-width: 1200px) {
        .type-three_col .columns-wrapper div.column ~ div.column {
          margin-left: calc( 30px / 2); } }
    @media (max-width: 600px) {
      .type-three_col .columns-wrapper div.column ~ div.column {
        margin: 0; } }
  .type-three_col + .type-three_col {
    margin-top: -4rem;
    padding-top: 0; }
    .type-three_col + .type-three_col .section-title {
      padding-top: 9rem; }

/**
 * Content collection
 */
.type-content_collection .content-collection {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: calc( 90% - 3ch);
  margin: 0 auto;
  padding: 0 0 3rem 0; }
  @media (max-width: 600px) {
    .type-content_collection .content-collection {
      display: block;
      width: 90%; } }
  .type-content_collection .content-collection > article {
    -ms-flex: 1;
    flex: 1;
    min-width: 25ch;
    max-width: 50ch;
    margin: 1.5ch; }
    @media (max-width: 600px) {
      .type-content_collection .content-collection > article {
        border-top: 1px dotted #F2F2F2;
        padding-top: 2rem;
        margin: 0; } }
    .type-content_collection .content-collection > article .article-header {
      display: block; }
      .type-content_collection .content-collection > article .article-header img {
        border-radius: 0 0 0 25px; }
    .type-content_collection .content-collection > article h2 {
      margin: 0;
      line-height: 1.2;
      font-size: 4rem; }
      .type-content_collection .content-collection > article h2 a {
        text-decoration: none; }
    .type-content_collection .content-collection > article p.byline {
      padding: 0;
      font-size: 80%; }

/**
 * Page Grid
 */
.type-page_grid .page-grid-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }
  .type-page_grid .page-grid-container > div {
    -ms-flex: 1;
    flex: 1;
    min-height: 40vh;
    background-size: cover;
    position: relative;
    min-width: 400px; }
    @media (max-width: 600px) {
      .type-page_grid .page-grid-container > div {
        -ms-flex: none;
        flex: none;
        display: block;
        min-height: 30vh;
        min-width: 0;
        width: 100%; } }
    .type-page_grid .page-grid-container > div :after {
      content: '';
      position: absolute;
      pointer-events: none;
      top: 15px;
      bottom: 15px;
      left: 15px;
      right: 15px;
      border: 2px solid rgba(42, 38, 58, 0.5); }
    .type-page_grid .page-grid-container > div a {
      height: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-decoration: none; }
      .type-page_grid .page-grid-container > div a:hover strong {
        background: rgba(42, 38, 58, 0);
        color: #fff; }
      .type-page_grid .page-grid-container > div a strong {
        text-align: center;
        padding: 0.5em 1em;
        font-size: 4rem;
        margin: 5em 0;
        background: #2a263a;
        transition: all 0.75s ease 0s; }
        @media (max-width: 600px) {
          .type-page_grid .page-grid-container > div a strong {
            margin: 3em 0;
            font-size: 3rem;
            padding: 0.4em 0.9em; } }

.page-title {
  display: block;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: 1em 0 0 0;
  padding-top: 3rem;
  line-height: 1.2;
  font-size: 4em;
  letter-spacing: -1px; }
  @media (max-width: 600px) {
    .page-title {
      font-size: 3em; } }
  .page-title .smaller {
    font-size: 3rem;
    display: block;
    clear: both;
    letter-spacing: 0;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: normal;
    margin-bottom: -3rem; }

.centered-title {
  text-align: center; }

.page-children-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: start;
  align-items: flex-start;
  justify-items: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .page-children-grid .child-page-box {
    text-align: center;
    margin: 1em 3vw;
    width: 15vw;
    min-width: 200px;
    max-width: 390px; }
    @media (max-width: 600px) {
      .page-children-grid .child-page-box {
        width: auto; } }
    .page-children-grid .child-page-box h6 {
      padding-top: 0.75em;
      margin: 0;
      line-height: 1.2; }
      .page-children-grid .child-page-box h6 a {
        color: #F2F2F2;
        text-decoration: none; }
        .page-children-grid .child-page-box h6 a:hover {
          color: #FFFA04; }
    .page-children-grid .child-page-box .child-page-link {
      width: 15vw;
      height: 15vw;
      min-width: 200px;
      min-height: 200px;
      max-width: 390px;
      max-height: 390px;
      transition: all 300ms ease-in-out; }
      .page-children-grid .child-page-box .child-page-link.round {
        border-radius: 50%;
        box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5); }
        .page-children-grid .child-page-box .child-page-link.round svg {
          fill: #2a263a !important;
          height: 65%;
          width: 65%;
          margin: 18% auto;
          filter: drop-shadow(0 1px 0 rgba(0, 0, 0, 0.25)) url(#inset-shadow); }
      .page-children-grid .child-page-box .child-page-link:hover {
        transform: scale(1.1); }

.home section.homepage-hero {
  min-height: 101vh;
  padding: 19vh 2vw 5vh 2vw;
  margin-top: -1vh;
  background-size: cover;
  background-position: center center;
  position: relative;
  background: rgba(103, 39, 203, 0.5);
  background: linear-gradient(135deg, rgba(103, 39, 203, 0.5) 0%, rgba(56, 187, 249, 0.5) 50%, rgba(203, 31, 143, 0.5) 100%);
  background-size: 400% 400%;
  animation: Gradient 19s ease infinite; }
  .home section.homepage-hero .video-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 59vh;
    z-index: -1; }
  .home section.homepage-hero .slideshow-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }
    .home section.homepage-hero .slideshow-container > figure {
      animation: imageAnimation 36s linear infinite 0s;
      backface-visibility: hidden;
      background-size: cover;
      background-position: center center;
      color: transparent;
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
      padding: 0;
      margin: 0; }
  .home section.homepage-hero .hero-content {
    padding: 5vh 5vw;
    margin: 0 auto;
    font-size: 155%;
    line-height: 1.4;
    text-shadow: 1px 1px 3px rgba(42, 38, 58, 0.6); }
    @media (min-width: 900px) {
      .home section.homepage-hero .hero-content {
        width: 65%;
        max-width: 800px;
        padding: 5vh 12% 5vh 0; } }
    .home section.homepage-hero .hero-content h1 {
      margin: 0;
      padding: 0;
      font-size: 7rem;
      font-weight: 700;
      line-height: 1; }
      .home section.homepage-hero .hero-content h1 span {
        font-style: italic; }
      @media (max-width: 600px) {
        .home section.homepage-hero .hero-content h1 {
          font-size: 5rem; } }
    .home section.homepage-hero .hero-content h2 {
      margin: 0;
      padding: 0;
      font-size: 4rem;
      font-weight: 700;
      line-height: 1; }
      .home section.homepage-hero .hero-content h2 span {
        font-style: italic; }
      @media (max-width: 600px) {
        .home section.homepage-hero .hero-content h2 {
          font-size: 2.5rem; } }
    .home section.homepage-hero .hero-content .cta_button_group {
      margin-top: 5vh;
      text-align: center;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: baseline;
      align-items: baseline; }
      .home section.homepage-hero .hero-content .cta_button_group a + a {
        margin-left: 2rem; }

header.article-header .byline {
  padding: 0 0 6rem 0; }

#respond h3 {
  font-size: 3rem; }
  #respond h3 small {
    font-size: 18px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: normal; }

ol.commentlist {
  margin: 1em 0;
  padding: 0;
  list-style: none; }
  ol.commentlist li {
    padding: 0;
    margin: 0; }
    ol.commentlist li .media-object {
      padding: 1em;
      display: -ms-flexbox;
      display: flex; }
      ol.commentlist li .media-object .media-object-section > article {
        padding: 0.5em 1em;
        background: rgba(203, 31, 143, 0.065);
        border-radius: 0 0 0 20px; }
      ol.commentlist li .media-object .media-object-section p {
        padding: 0; }
        ol.commentlist li .media-object .media-object-section p label {
          left: 1.5rem;
          top: -1.5rem;
          background: #2a263a; }
          @media (max-width: 900px) {
            ol.commentlist li .media-object .media-object-section p label {
              left: 1.25rem; } }
      ol.commentlist li .media-object .media-object-section:last-child {
        -ms-flex: 1;
        flex: 1; }
    ol.commentlist li ul {
      list-style: none;
      margin: 0 0 0 3em;
      padding: 0; }

nav.next-and-previous-posts {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: stretch;
  align-items: stretch; }
  nav.next-and-previous-posts > div {
    padding: 2rem; }

span.pulled-right {
  display: block;
  float: right;
  clear: right;
  padding: 0 0 0 10px;
  margin: 0 0 20px 20px;
  width: 230px;
  font-size: 1.5em;
  line-height: 1.3;
  text-align: right;
  color: white;
  border-left: 3px solid rgba(103, 39, 203, 0.5); }
  @media (max-width: 900px) {
    span.pulled-right {
      width: 200px;
      font-size: 1.3em; } }

span.pulled-left {
  display: block;
  float: left;
  clear: left;
  padding: 0 10px 0 0;
  margin: 0 20px 20px 0;
  width: 230px;
  font-size: 1.5em;
  line-height: 1.3;
  text-align: left;
  color: white;
  border-right: 3px solid rgba(103, 39, 203, 0.5); }
  @media (max-width: 900px) {
    span.pulled-left {
      width: 200px;
      font-size: 1.3em; } }

.icon-email-dims {
  width: 100px;
  height: 100px; }

.icon-etsy-dims {
  width: 32px;
  height: 32px; }

.icon-facebook-dims {
  width: 32px;
  height: 32px; }

.icon-flickr-dims {
  width: 32px;
  height: 32px; }

.icon-folder-dims {
  width: 100px;
  height: 100px; }

.icon-googleplus-dims {
  width: 32px;
  height: 32px; }

.icon-instagram-dims {
  width: 32px;
  height: 32px; }

.icon-linkedin-dims {
  width: 32px;
  height: 32px; }

.icon-paypal-dims {
  width: 32px;
  height: 32px; }

.icon-rss-dims {
  width: 32px;
  height: 32px; }

.icon-spotify-dims {
  width: 32px;
  height: 32px; }

.icon-tags-dims {
  width: 100px;
  height: 100px; }

.icon-twitter-dims {
  width: 32px;
  height: 32px; }

.icon-wordpressdotcom-dims {
  width: 32px;
  height: 32px; }

.icon-youtube-dims {
  width: 32px;
  height: 32px; }

/******************************************************************

Stylesheet: Print Stylesheet

This is the print stylesheet. There's probably not a lot
of reasons to edit this stylesheet. 

Remember to add things that won't make sense to print at 
the bottom. Things like nav, ads, and forms shouldbe set 
to display none.
******************************************************************/
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }
    a:after, a:visited:after {
      content: " (" attr(href) ")"; }
    a abbr[title]:after, a:visited abbr[title]:after {
      content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none; } }
